/* 공통 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');



/* 상단 */


/* 위쪽상단 */







/* 메인이미지 */
#mainimg {
    width: 100%;
    height: 640px;    
    background-image: url(../images/main_img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}



/* 콘텐츠 */
/* 베스트상품 */
.best_set {
    width: 100%;
    margin: 110px auto 0
}

.besttitle {
    width: 100%;
    height: 80px;
    position: relative;
    text-align: center;
    
}

h2:before, h2:after{
    content: "";
    display: inline-block;
    width: 30%;
    margin: 0 50px 0 50px ;
    vertical-align: middle;
    border-bottom: 2px solid;
}

.besttitle > h2 {
    width: 100%;
    background-color: #fff;
    left: 10%;
    right: 10%;
    margin: auto;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    

}

.besttitle > p {
    padding-top: 7px;
    font-size: 8px
}

.bestslider {
    width: 1280px;
    height: 500px;
    position: relative;
    margin-top: 35px;
    margin: 0 auto
}

.bestslider > .btn_prev {
    position: absolute;
    left: 0;
    top: 45%
}

.bestslider > .btn_next {
    position: absolute;
    right:0;
    top: 45%
}

.bestslider > .best_list {
    position: absolute;
    width: 1050px;
    left: 10%;
    right: 10%;
    margin: 0 auto;
    margin-top: 
}

.bestslider > .best_list > .slide {
    float: left;
    width: 33.3%
}

.bestslider > .best_list:after {
    content: "";
    display: inline-block;
    clear: both
}

.bestslider > .best_list > .slide > img {
    width: 100%
}

.bestdata {
    width: 1280px;
    height: 130px;
    margin-top: 60px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.bestdata > .data_box {
    width: 100%;
    height: 130px;
    background-color: #fff;
    border: 2px solid #777;
    border-radius: 8px;
    position: relative;
    
}

.bestdata ul::after {
    content: "";
    display: block;
    clear: both;   
  
}

.bestdata li{
    width: 16.5%;
    line-height: 0px;
    float: left;
    border-right: 2px dotted #777;
    margin-top: 10px;  
}
.bestdata li:last-child{
    border-right:0px
    
}


.data_box img{
    width: 30%;
    margin-top: 10px;
}

.data_box p{
    margin-top: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    
}

/* 초특가배너 */
.banner_set {
    width: 100%;
    height: 340px;
    background-image: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 100px;
    color: #000
}

.banner_set > .inner {
    height: 340px;
    position: relative
}

.banner_set > .inner > div {
    float: left;

    position: absolute;
    left:22%;
    top: 23%;
    text-align: center
}
.banner_set > .inner > div > p {
    font-size: 32px;
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif;

}

.banner_set > .inner > div > h4 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}




/* 정형외과이야기 */
.story_set {
    width: 100%;
    height: 750px;
    background-color: #888;
    text-align: center;
    margin-top: 30px;
}


.theone_story h2:before, h2:after{
    content: "";
    display: inline-block;
    width: 30%;
    margin: 0 50px 0 50px ;
    vertical-align: middle;
    border-bottom: 2px solid;
}

.theone_story h2 {
    padding-top:100px;
    width: 100%;
    left: 10%;
    right: 10%;
    margin: auto;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;


}

.theone_story p {
    padding-top: 7px;
    font-size: 8px
}

.story_set > .storyslider {
    width: 1280px;
    height: 494px;
    margin: 0 auto;
    color: #fff;
    margin-top: 50px;
    position: relative
}

.story_set > .storyslider > .btn_prev {
    position: absolute;
    top: 45%;
    left: 0
}

.story_set > .storyslider > .btn_next {
    position: absolute;
    top: 45%;
    right: 0
}

.story_set > .storyslider > .story_list {
    width: 969px;
    position: absolute;
    left: 10%;
    right: 10%;
    margin: 0 auto
}

.story_set > .storyslider > .story_list:after {
    content: "";
    display: inline-block;
    clear: both
}

.story_set > .storyslider > .story_list > .slide {
    width: 33.3%;
    float: left;
    letter-spacing: -1px
}

.story_set > .storyslider > .story_list > .slide > img {
    width: 80%;
    margin: 0 10%
}

.story_set > .storyslider > .story_list > .slide > h4 {
    font-size: 22px;
    font-weight: bold;
    padding: 40px 10% 24px 10%
}

.story_set > .storyslider > .story_list > .slide > p {
    font-size: 14px;
    color: #454547;
    padding: 0 10%
}



/* 사진첩 */
.gallery_set {
    
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.gallery h2:before, h2:after{
    content: "";
    display: inline-block;
    width: 30%;
    margin: 0 50px 0 50px ;
    vertical-align: middle;
    border-bottom: 2px solid;
}

.gallery h2 {
    padding-top:0px;
    width: 100%;
    left: 10%;
    right: 10%;
    margin: auto;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;


}

.gallery p {
    padding-top: 7px;
    font-size: 8px;
    margin-bottom: 50px;

}


.gallery_set > ul {
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 0px;
}

.gallery_set > ul:after{content: "";
display: block; clear: both}
.gallery_set > ul > li{float: left;
   width: 20%;
   position: relative;
}
.gallery_set > ul > li img{width: 90%}

.gallery_set > ul > li  > a:hover:before{display: inline-block; content: ""; width: 90%;
 height:98%; background-color: rgba(0,0,0,0.5); position: absolute}





/* 층별안내 */
.add_set {
    
    width: 100%;
    height: 282px;
    background-image: url(../images/con5_back.jpg);
    background-size: cover;
    color: #fff;
    margin-top: 0px
}
.add_in{
    position: relative;
    width: 1300px;
    margin: 0 auto;
}
.add_in:after{display: inline-block; content: "";clear: both}
.add_l{
    float: left;
    width: 40%;
    text-align: center;
    margin-top: 85px;
  
}

.add_l span{
    font-size: 10px;

}

.add_l > h3 {
   font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
   
}

.add_l > p {
    font-size: 13px;
     margin-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.add_r{
    float: left;
    width: 30%;
    height: 282px;
    font-family: 'Noto Sans KR', sans-serif;
    
}
.add_r ul{
    margin-top: 40px;
}

.add_r li{
    font-size: 14px;
    line-height: 35px;
}
.add_r li span{
    color:#1ed4df;
    font-weight: bold
}



.add_img{
    position: absolute;
    right: 15px;
    top:6px;
    
}


/* 하단 */
#footer {
    width: 100%;
    height: 295px;
    
    
}

/* 하단위쪽 */
.top_footer {  
    width: 100%;
    height: 73px;
    font-size: 14px;
    color:#888;
    background-color:#fff;
    font-family: 'Noto Sans KR', sans-serif;
}
.top_footer > .inner{
    width: 1300px;  
}

.top_footer > .inner > ul:after {
    content: "";
    display: inline-block;
    clear: both
}

.top_footer > .inner > ul{
    padding-top: 20px;    
    width: 600px;
    margin: 0 auto;
    
    
}

.top_footer > .inner > ul > li {
    float: left;
    width: 25%;    
    line-height: 25px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #777;
    box-sizing: border-box;
}

.top_footer > .inner > ul > li:last-child{
    border:0px;
    
}

/* 하단아래쪽 */
.bottom_footer {
    color: #999999;
    margin-top: 20px;
    font-size: 8px;
    text-align: center;
}
.copyright{
    margin-top: 20px;
    line-height: 20px;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}










/*태블릿사이즈*/

@media (max-width:1279px) {
    #wrap{width: 100%;
     }
    .top_header{display: none}
    .bottom_header{height: 1%; border: none
    }
    .inner{width: 100%}
    .logo{float: left; width: 100%;text-align: center;
    margin-top: 2%;}
    
    .menu{width:100%; height: 90px;}
    .menu{display: none}
    
    #mainimg{width: 100%; height: 0; padding-top: calc(642/1920*100%)}
    
    #sub_mainImg img{width: ; display: block; margin-left: 4%; position: absolute; top: 0; }

    #sub_mainImg .left_img {display: inline-block; width: auto; height: auto}
    #sub_mainImg .right_text {display: inline-block;}
    
    #sub_mainImg p{color:#fff ; font-size: 2.5rem; font-family: TmonMonsori; }
    #sub_mainImg span{color:#0a4595 }
    
   
    
    .besttitle > h2, .theone_story h2, .gallery h2{
        font-size: 1.8rem; }
    .besttitle > h2:before, h2:after{
    content: "";
    display: inline-block;
    width: 15%;
    margin: 0 3% 0 5%;
    vertical-align: middle;
    border-bottom: 1px solid;    }
    .theone_story h2:before, h2:after{
    content: "";
    display: inline-block;
    width: 15%;
    margin: 0 3% 0 5%;
    vertical-align: middle;
    border-bottom: 1px solid;
    }
    .gallery h2:before, h2:after{
    content: "";
    display: inline-block;
    width:15%;
    margin: 0 3% 0 5%;
    vertical-align: middle;
    border-bottom: 1px solid;
        
    }
    
   
    .bestslider{width: 100%; height:auto; text-align: center}
    .bestslider > .best_list{width:50%; height: auto; 
        padding-top: calc(110/300*100%); position: relative; right: 1%;left: 1%}
    .bestslider > .best_list > .slide{position: absolute; top:0; width: 100%; height:auto; float: none}
    .bestslider > .best_list > .slide > img{width: 60%; }
    
    .bestslider > .best_list div:nth-child(2){display:none}
    .bestslider > .best_list div:nth-child(3){display: none}
    
    
    .bestslider > .btn_prev{left: 20%; top:45%;}
    .bestslider > .btn_next{right: 20%;top:45%;}
    
    .bestdata{width: 98%; box-sizing: border-box;margin-top: 80px; }
    .bestdata ul:after{content:""; display: block;clear: both}
    .bestdata li{width: 16%; line-height: 0}
    .bestdata img{width: 40%}
    .bestdata > .data_box{width: 100%; height: auto; padding:15px 20px;}
    .data_box img{width: 30%}
    .data_box p{font-size: 15px;}
    
    
    .banner_set > .inner > div{text-align: center;left: 5%;right: 5% }
    .banner_set > .inner > div > p{font-size: 28px;}
    .banner_set > .inner > div > h4{font-size: 28px;}
    
    
    
    
    .story_set > .storyslider{width: 100%; height: 0;
    margin-top: 30px;
    padding-top: calc(290/552*100%); }
    .story_set{height: auto}
    .story_set > .storyslider{width: 100%; height: auto}
    .story_set > .storyslider > .story_list{width:85% ; position: absolute; top: 0}
    
    .story_set > .storyslider > .btn_prev{left: 3%; top:40%}
    .story_set > .storyslider > .btn_next{right:3%; top:40%}
    
    
    .gallery_set{height: auto}
    .gallery_set > ul{width: 100%}
    .gallery_set > ul > li img{width: 90%}
    .gallery_set > ul > li > a:hover:before {
        display: inline-block;
        content: "";
        width: 90%;
        height: 0;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        padding-top: calc(375/365 * 100%);}
   

    .add_set{margin-top: 60px}
    .add_l{width: 35%}
    .add_in{width: 100%}
    .add_l > span{font-size:10px }
    .add_l > h3{font-size:28PX }
    .add_l > p{font-size:12px; margin-top: 10px; }
    .add_r{width: 33%}
    .add_r li{font-size: 13px;}
    .add_img{right: 0.5%}
    
    .top_footer > .inner{width: 100%} .top_footer > .inner
    
    
    
    
}








/*모바일사이즈*/



@media (max-width:768px) {
    #wrap{width: 100%;
    }
    #mainimg{width: 100%; height: 0; background-image:url(../images/mob_mainImg.jpg);
    padding-top: calc(584/889*100%) }  
    .menu{display: none}
    .top_header{display: none}
    .bottom_header{border: none}
    
    .inner{width: 90%}
    #contents{height: auto}
    
    
    .besttitle > h2, .theone_story h2, .gallery h2{font-size: 1.4rem; }
    h2:before, h2:after{
    content: "";
    display: inline-block;
    width: 10%;
    margin: 0 10px 0 10px;
    vertical-align: middle;
    border-bottom: 1px solid;    }
    .theone_story h2:before, h2:after{
    content: "";
    display: inline-block;
    width: 10%;
    margin: 0 10px 0 10px;
    vertical-align: middle;
    border-bottom: 1px solid;
    }
    .gallery h2:before, h2:after{
    content: "";
    display: inline-block;
    width:10%;
    margin: 0 10px 0 10px;
    vertical-align: middle;
    border-bottom: 1px solid;
        
    }
    

    
    
    
    .best_set{margin-top:50px; height: auto;}

    
    .bestslider{height:auto; text-align: center}
    .bestslider > .best_list{width:50%; height: 0; 
        padding-top: calc(150/300*100%); position: relative; right: 1%;left: 1%}
    
    .bestslider > .best_list > .slide {width: 100%; }
    .bestslider > .best_list div:nth-child(2){display: none}
    .bestslider > .best_list div:nth-child(3){display: none}
    .bestslider{height: auto;}
    .bestslider > .btn_next{right: 20%;}    
    .bestslider > .btn_prev{left: 20%;}
 
    .bestdata{width: 100%; margin: 0 auto; }
    .bestdata ul{width: 100%}
    .bestdata li{width: 33.3%; height: 100px; border-right: none; margin-bottom:10px; }
    

    
    
    .bestdata li:nth-child(1){margin-left: 0;}
    
    .bestdata > .data_box{border: none; border-top:1px solid #000; border-bottom:1px solid #000; border-radius: 0 ;  width: 100%; height:auto;
     box-sizing: border-box}
    .data_box p{font-size: 12px;}
    
    
    
    
    
    .banner_set{ height:; margin-top: 200px; background-image: url(../images/mo_banner1.jpg) 100%;}
    .banner_set > .inner {width:100%; height: auto}
    .banner_set > .inner > div {margin-top: 110px; left:1%;right: 1%}
    .banner_set > .inner > div img{width: 150px ;margin-bottom: -10px;}  
    .banner_set > .inner > div > p{font-size: 15px;}
    .banner_set > .inner > div > h4{font-size:20px;}
    
    
    
    .theone_story h2{padding-top: 50px;}
    .story_set > .storyslider{width: 100%; height: 0;
    margin-top: 30px;
    padding-top: calc(310/512*100%); }
    .story_set{height: auto}
    .story_set > .storyslider > .btn_prev{left:10%; top:30%}
    .story_set > .storyslider > .btn_next{right:10%;top:30%}
    .story_set > .storyslider > .story_list{width: 70%; position: absolute; top: 0 }
    .story_set > .storyslider > .story_list > .slide{width: 50%}
    .story_set > .storyslider > .story_list div:last-child{display: none} 
    
    .gallery_set{margin-top: 50px; margin-bottom: 50px;height: auto}
    .gallery_set > ul{width: 80%}
    .gallery_set > ul > li{width: 50%}
    .gallery_set > ul > li img{width: 80%}
    .gallery_set > ul > li:nth-child(1){display: none}
    .gallery_set > ul > li > a:hover:before {
        display: inline-block;
        content: "";
        width: 80%;
        height: 0;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        padding-top: calc(255/279 * 100%);
    }
    
    
    
   
    .add_set{margin-top: 0px;
        background:none; width: 100%; height: 0;}
    
    .add_in{border-top: 1px solid #999 ; height: auto}
    .add_l{width: 100%; margin-top: 0px; }
    .add_l > h3{font-size: 1.6rem; color:#000 ;}
    .add_l > p{display: none}
    
    .add_r{height: auto; padding-bottom: 20px; width: 100%; text-align: center; border-bottom: 1px solid #999}
    .add_r ul{margin-top:20px;  }
    .add_r li{font-size: 0.9rem; line-height: 30px; color:#000 }
    .add_img{display: none; }
    
    
     #footer{height:auto; margin-bottom: 50px;}
  
    
    
    
}

